# Managed by Ansible — cx_ansible_galaxy.linux_hardening
# /etc/security/pwquality.conf — PAM password quality settings
minlen = {{ linux_hardening_pwquality_minlen }}
dcredit = {{ linux_hardening_pwquality_dcredit }}
ucredit = {{ linux_hardening_pwquality_ucredit }}
ocredit = {{ linux_hardening_pwquality_ocredit }}
lcredit = {{ linux_hardening_pwquality_lcredit }}
