define contact {
    contact_name                    nagiosadmin
    use                             generic-contact
    alias                           Nagios Admin
    email                           {{ mon_nagios_admin_email }}
}

define contactgroup {
    contactgroup_name               admins
    alias                           Nagios Administrators
    members                         nagiosadmin
}
